<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="header" th:fragment="header">
        <div class="header_container">

            <div class="logo">Ký túc xá</div>

            <div class="links">
                <a href="/">Trang chủ</a>
                <a href="/rooms">Phòng</a>
                <a href="/students">Sinh viên</a>
                <a href="/allocations">Phân phòng</a>
                <a href="/login">Đăng nhập</a>
            </div>

        </div>
    </div>
</body>

</html>
