<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="header" th:fragment="header">
        <div class="header_container">

            <div class="logo">Dormitory</div>

            <div class="links">
                <a href="/">Homepage</a>
                <a href="/rooms">Rooms</a>
                <a href="/students">Students</a>
                <a href="/allocations">Allocations</a>
                <a href="/login">Login</a>
            </div>

        </div>
    </div>
</body>

</html>
